.grid-table {
    display: table;
}

.thead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: azure;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-color: red;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}